@charset "UTF-8";
*{
    margin: 0%;
    box-sizing: border-box;
}

header{
    background-color: #2F1D36;
    display: flex;
    padding: 2%;
    justify-content: flex-end;
}

nav a{
    color: #c9d1d9;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}


body{
    display: flex;
    height: 100%;
    margin: 0%;
    padding: 0%;
    flex-direction: column;
    background-color: #13031a;
}

h1{
    margin-top: 20px;
    margin-left: 50px;
    color: #c9d1d9;
}

hr{
    margin-left: 40px;
    margin-right: 50px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.507);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.719); /* sombra suave */
}

.lista{
    margin-bottom: 80px;
}

.card{
    color:#c9d1d9;
    background: #2F1D36;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    border: 2px solid #442742;
    margin: 20px;
    margin-top: 50px;
    font-size: 1.1rem;
}

.fundocima img{
    width: 500px;       
    height: auto;        /* mantém a proporção da imagem */
    border-radius: 0 !important;    /* tira o arredondamento */
    border: 0;
    box-shadow: none;
    position: fixed;     /* fixa na tela */
    bottom: 20px;       
    left: 0;           
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 5px;   
    z-index: -1; /* joga a imagem pra trás */

} 

.fundo img{
    width: 500px;       
    height: auto;        /* mantém a proporção da imagem */
    border-radius: 0 !important;    /* tira o arredondamento */
    border: 0;
    box-shadow: none;
    position: fixed;     /* fixa na tela */
    bottom: 20px;       
    right: 0;           
    margin: 0px;
    margin-bottom: 25px;
    margin-top: 0px;   
    z-index: -1; /* joga a imagem pra trás */
}

footer{
    height: 60px; /* ajuste conforme a altura do seu footer */background-color: #2c1d3b;
    color: white;
    text-align: center;
    line-height: 60px; /* centraliza o texto verticalmente */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

a{
    color: #c9d1d9;
    margin-right: 20px;
    text-decoration: none;
}

.icon{
    width: 112px;
    height: 30px;
    border-radius: 0;
}
